@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background: url('../images/screens/tela-fundo.jpg') no-repeat bottom left;
    background-position: cover;
    background-position: fixed;
}

section#iphone {
    background: url('../images/iphone/frame-iphone.png') no-repeat top center;
    background-attachment: fixed;
}

section#iphone {
    width: 311px;
    height: 627px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#social-media > a > img {
 width: 45px;
 margin: 15px;
 border-radius: 50%;
 box-shadow: 8px 10px 20px 0px #000000ad;
 box-sizing: border-box;
}

iframe#frame {
    position: relative;
    top: 80px;
    left: 21px;
    width: 265px;
    height: 469px;
}

section#social-media > a.border-white > img:hover {
    border: 2.5px solid #ffffff9c;
    transform: translate(0px, 5px);
    transition: transform .3s, border .4s;
}

section#social-media > a.border-pink > img:hover {
    border: 2.5px solid #ffc0cbc4;
    transform: translate(0px, 5px);
    transition: transform .3s, border .4s;
}

section#social-media {
    text-align: left;
    width: 100px;
}

